.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImage {
  max-width: 60%;
  max-height: 128px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}
